# Node.js dependencies
/node_modules/

# React build output
/frontend/build/

/backend/frontend/
backend/frontend/


# Logs
*.log
logs/
pids/
*.pid
*.pid.lock

# Environment variables
*.env

# Dependency directories
jspm_packages/

# Build output
/dist
/build

# Temporary files
tmp/
temp/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS
.DS_Store

# Windows
Thumbs.db

# NPM cache
.npm/

# Coverage reports
coverage/

# Docker
docker-compose.override.yml
.docker/
docker-compose.yml

# Yarn integrity file
.yarn-integrity

# Storybook
storybook-static/

# React Native
.expo/
.expo-shared/

# Next.js
.next/
out/

# Nuxt.js
.nuxt/
dist/

# Sapper (Svelte)
__sapper__/
